* {
    user-select: none;
    font-family: monospace;
}

.tareasBorder {
    border: 1.5px solid black;
    border-radius: 5px;
    margin: 13px;
}

.tareas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    height: 50px;
}

#info{
    display: flex;
    justify-content: space-between;
}

#infoIzq {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#infoDcha {
    display: flex;
    align-items: center;
    gap: 10px;
}

#contador {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid gray;
    border-radius: 50%;
    height: 75px;
    width: 75px;
}

#listaTareas {
    margin-top: 9px;
    height: 32em;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    border: 1.5px solid;
    border-radius: 5px;
}