body {
    user-select: none;
}

#info{
    display: flex;
    justify-content: space-between;
}

#infoIzq {
    display: flex;
    flex-direction: column;
}

#infoDcha {
    display: flex;
    gap: 10px;
}

#contador {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid gray;
    border-radius: 50%;
    height: 75px;
    width: 75px;
}

#numTareasComp {
    display: flex;
    align-items: center;
}